#arquivos removidos
/RayCasting/RayCasting/RayCasting.depend
/RayCasting/RayCasting/RayCasting.layout
/RayCasting/RayCasting/bin/Debug/*
/RayCasting/RayCasting/obj/*
/RayCasting/RayCasting/RayCasting.cbp

